#experiences-section {
  .section-subheading {
    width: 60%;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1em;
    @include MQ(ML) {
      width: 100%;
    }
  }
  .experience-wrapper {
    padding: 0;
    .experience-block {
      display: inline-block;
      width: 30%;
    }
  }
}
