#footer {
  background-color: $blue;
  height: 100px;
  min-height: 50px;
  color: $white;
  @include MQ(M) {
    height: 200px;
  }
  .section-wrapper {
    padding: 30px 0px 40px;
    @include MQ(L) {
      padding: 30px 0;
    }
    .social {
      display: block;
      font-size: 0;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      .social-item {
        display: inline-block;
        margin: 1rem 0.5rem;
        @include MQ(S) {
          margin: 1rem 0.3rem;
        }
        a {
          display: block;
          position: relative;
          color: #fff;
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
        }
      }
    }
  }

  .copyright {
    color: $white;
    margin-top: 10px;
    font-size: 14px;
  }
}
