#header-section {
  height: 100%;
  .header-wrapper {
    height: 100%;
    padding: 0;
    .header-body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      @include reveal(reveal-up, 100%);
      @include reveal(reveal-down, -100%);
      @keyframes loading-line {
        0% {
          transform: scaleX(0);
        }
        40% {
          transform: scaleX(1);
        }
      }
      .header-content {
        text-align: center;
        padding: 0 5%;
        width: 100%;
        position: relative;
        top: -5%;
        .heading,
        .subtext,
        .btn {
          opacity: 0;
          animation-duration: 1s;
          animation-delay: 0.2s;
          animation-fill-mode: forwards;
        }
        .heading {
          font-size: 5em;
          font-weight: 1000;
          position: relative;
          padding-bottom: 10px;
          color: transparent;
          overflow: hidden;
          opacity: 1;
          @include MQ(M) {
            .name:before {
              top: calc(100% + 18px);
            }
          }
          @include MQ(SM) {
            font-size: 4em;
          }
          &:after {
            content: attr(name-content);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: $white;
            animation-name: reveal-up;
            animation-fill-mode: backwards;
            animation-duration: 0.4s;
            animation-delay: 0.3s;
          }
          .line {
            position: relative;
            display: inline-block;
            opacity: 1;
            &:before {
              content: '';
              height: 5px;
              width: 130%;
              position: absolute;
              top: 110%;
              left: -15%;
              background-color: $white;
              animation: loading-line 1s;
            }
          }
        }
        .subheader-content {
          overflow: hidden;
          .subtext {
            position: relative;
            margin: 0;
            padding: 0;
            animation-name: reveal-down;
            animation-duration: 0.4s;
            animation-delay: 0.7s;
            .label {
              display: inline-block;
              margin: 0;
              padding: 0.8em 0;
              font-size: 1.6rem;
              font-weight: 200;
              color: $white;
              font-family: $Ubuntu;
              opacity: 1;
              @include MQ(SM) {
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }
  }
}
