#skills-section {
  .skills-wrapper {
    padding: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    @include MQ(M) {
      display: block;
      height: auto;
    }
    .skills-block {
      background-color: $dark-grey;
      color: $white;
      display: inline-block;
      text-align: left;
      margin: 10px 1.5%;
      min-height: 240px;
      width: 30%;
      @include MQ(M) {
        width: 70%;
      }
      @include MQ(SM) {
        width: 85%;
      }
      .skills-content {
        padding: 10px 30px;
        .skills-heading {
          color: $blue;
        }
        .skills-item {

        }
      }
    }
  }
}
