#skills-section {
  .skills-wrapper {
    padding: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    @include MQ(L) {
      display: block;
      height: auto;
    }
    .skills-block {
      background-color: $dark-gray;
      color: $white;
      display: inline-block;
      text-align: left;
      margin: 10px 1.5%;
      min-height: 240px;
      width: 30%;
      @include MQ(L) {
        width: 70%;
      }
      @include MQ(M) {
        width: 85%;
      }
      &:hover, &:focus {
        transition: all 0.1s ease;
        transform: scale(1.05) translateY(-5px);
      }
      .skills-content {
        padding: 10px 30px;
        .skills-heading {
          color: $blue;
          @include MQ(M) {
            font-size: 1.2em;
          }
        }
        .skills-item {
          padding-bottom: 10px;
          .icon {
            .icon-title {
              @include MQ(M) {
                font-size: 3em;
              }
            }
          }

        }

      }
    }
  }
}
