/* Colors */
$button-height: 25px;
$button-width: 30px;
$black: #070707;
$dark-gray: #1b1b1b;
$light-gray: #f0f0f0;
$white: #ffffff;
$blue: #00c8d8;
$orange: #ffcc00;

/* Fonts */
$Ubuntu: 'Ubuntu';
$Nunito: 'Nunito';
$Montserrat: 'Montserrat';

/* Size Breakpoints */
$XS: 330px;
$S: 400px;
$M: 480px;
$L: 768px;
$XL: 900px;

/* Media queries */
@mixin MQ($canvas) {
  @if $canvas==S {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas==S {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas==M {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas==L {
    @media only screen and (max-width: $L) { @content; }
  }
  @else if $canvas==XL {
    @media only screen and (max-width: $XL) { @content; }
  }
}
