<section id="bio-section" class="section rellax" data-rellax-speed="3">
  <div class="section-wrapper">
    <div class="fade-in">
      {% for bio in site.data.bio %}
      <h1 class="section-heading">{{ bio.heading }}</h1>
      <h3 class="section-subheading">{{ bio.subheading }}</h3>
      <span class="divider"></span>
      <div class="bio-wrapper">
        <div class="bio-text-wrapper">
          {% for info in bio.info %}
          <p class="bio-text">{{ info.item }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
