<section id="experiences-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in center">
      <span class="divider">
        <h1 class="section-heading">Experience</h1>
      </span>
      <div class="experiences-wrapper">
        {% for item in site.data.experiences %}
        <div class="experiences-block">
          <div class="experiences-content">
            <h2 class="position">{{item.position}}</h2>
            <h3 class="company"><a href="{{item.url}}">{{item.company}}</a></h3>
            <span class="date">{{item.date}}</span>
            <p class="job">{{item.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
