<section id="footer" class="section">
  <div class="section-wrapper">
    <div class="resume center"><a href="/resume.pdf">Grab a copy of my resume!</a></div>
    <ul class="social">
      {% for link in site.social %}
      <li class="social-icon"><a href="{{link.url}}" class="icon {{link.title}}" title="{{link.title}}"><img src="img/icons/{{link.title}}.svg" alt="{{link.title}}"></a></li>
      {% endfor %}
    </ul>
    <div class="copyright center">
      <p>{{site.name}}&nbsp;&copy;&nbsp;2017</p>
    </div>
  </div>
</section>
