<section id="header-section">
  <div class="bg rellax" data-rellax-speed="-6"></div>
  <div class="header-wrapper">
    <div class="header-body" data-anchor-target="#header-section" data-top="opacity: 1;" data-top-bottom="opacity: 0;">
      <div class="header-content">
        <h1 class="heading" name-content="William Tong"><span class="line">William Tong</span></h1>
        <div class="subheader-content">
          <div class="subtext">
            <a class="label">Software Engineer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
