<section id="header-section" class="section">
  <div class="bg rellax" data-anchor-target="#header-section"
  data-bottom-top="transform: translate3d(0px, -150px, 0px);"
  data-top-bottom="transform: translate3d(0px, 150px, 0px);"
  ></div>
  <div class="header-wrapper rellax" data-rellax-speed="3">
    <div class="header-body" data-anchor-target="#header-section" data-top="opacity: 1;" data-top-bottom="opacity: 0;">
      <div class="header-content">
        <h1 class="heading" data-content="William Tong"><span class="name">William Tong</span></h1>
        <div class="action-wrapper">
          <p class="subtext">
            <a class="btn main-action">Software Engineer</a>
          </p>
        </div>
      </div>
      <div class="scroll-down-wrapper">
        <a href="#about-section" title="About section" class="scroll-down">
          <img class="logo" src="img/logo-white.png" alt="scroll down">
          <span class="scroll-down-text">
            Learn More
            <svg class="chevron" viewBox="0 0 57.942 105.958" enable-background="new 0 0 11.893 6.503">
              <line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="2.475" y1="2.475" x2="55.467" y2="55.466" />
              <line fill="none" stroke="#fff" stroke-width="7" stroke-miterlimit="10" x1="55.467" y1="50.492" x2="2.475" y2="103.484" />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
