<section id="skills-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in center">
      <span class="divider">
        <h1 class="section-heading">Skills</h1>
      </span>
      <div class="skills-wrapper">
        {% for skill in site.data.skills %}
        <div class="skills-block">
          <div class="skills-content">
            <h2 class="skills-heading">{{skill[0]}}</h2>
            <ul>
                {% for i in skill[1] %}
                <li class="skills-item"></li>
                  {% if i.icon_tag %}
                  <div class="icon">
                    <i class="devicon-{{i.icon_tag}}-plain colored" style="font-size:50px;"></i>
                    &nbsp; <span class="icon-title">{{i.item}}</span>
                  </div>
                  {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
