<section id="skills-section" class="section">
  <div class="section-wrapper">
    <div class="fade-in">
      <h1 class="section-heading">Skills</h1>
      <span class="divider"></span>
      <div class="skills-flex-wrapper">

        {% for skill in site.data.skills %}
        <div class="flex-item dev-wrapper">
          <h2 class="skills-heading">
            <span>{{skill[0]}}</span>
          </h2>
          <ul>
              {% for i in skill[1] %}
              <li class="dev-item">{{i.item}}</li>
              {% endfor %}

          </ul>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>
